@keyframes calm {
  0% {
    transform: scale(1);
  }

  40% {
    transform: scale(1.8);
    background-image: aqua;
    box-shadow: 0 1rem 3rem rgba($color: #000000, $alpha: 0.4);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes focus {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.8);
    background-color: aqua;
    box-shadow: 0 1rem 3rem rgba($color: #000000, $alpha: 0.4);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes relax {
  0% {
    transform: scale(1);
  }

  21% {
    transform: scale(1.8);
    background-color: aqua;
    box-shadow: 0 1rem 3rem rgba($color: #000000, $alpha: 0.4);
    box-shadow: 0 -1rem -3rem rgba($color: #000000, $alpha: 0.4);
  }

  58% {
    transform: scale(1.8);
    background-color: aqua;
    box-shadow: 0 1rem 3rem rgba($color: #000000, $alpha: 0.4);
    box-shadow: 0 -1rem -3rem rgba($color: #000000, $alpha: 0.4);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes stress {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.8);
    background-color: rgb(167, 167, 167);
    box-shadow: 0 1rem 3rem rgba($color: #000000, $alpha: 0.4);
    box-shadow: 0 -1rem -3rem rgba($color: #000000, $alpha: 0.4);
  }

  50% {
    transform: scale(1.8);
    background-color: lightgray;
    box-shadow: 0 1rem 3rem rgba($color: #000000, $alpha: 0.4);
    box-shadow: 0 -1rem -3rem rgba($color: #000000, $alpha: 0.4);
  }

  75% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes relax-hold {
  0% {
    opacity: 0;
  }

  21% {
    opacity: 0;
  }

  23% {
    opacity: 0.8;
  }

  56% {
    opacity: 0.8;
  }
  58% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes relax-nose {
  0% {
    opacity: 0;
  }

  11% {
    opacity: 0.8;
  }

  21% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes relax-mouth {
  0% {
    opacity: 0;
  }

  58% {
    opacity: 0;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes nose {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 0.8;
  }

  40% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes mouth {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  90% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes stress-nose {
  0% {
    opacity: 0;
  }

  12% {
    opacity: 1;
  }

  25% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes stress-mouth {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  67% {
    opacity: 1;
  }

  75% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes stress-hold {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  33% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 0;
  }

  88% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes background {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes reveal-left {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  40% {
    opacity: 0;
  }

  80% {
    opacity: 0.5;
    transform: translateX(1rem);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes reveal-right {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  40% {
    opacity: 0;
  }

  80% {
    opacity: 0.5;
    transform: translateX(-1rem);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  80% {
    opacity: 0;
  }

  90% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
